.App {
  max-width: 1040px;
  margin: 0 auto;
}
.Header {
}
.Header nav {
  display: flex;
  justify-content: flex-end;
}
.Header nav a {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline;
}

.SignUpForm,
.LoginForm {
  display: flex;
  flex-direction: column;
}

.SignUpForm input,
.SignUpForm,
.LoginForm input,
.LoginForm {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}
